.conteiner{
    padding-left: 100px;
    padding-right: 100px;
}

.btnEx{
    margin-top: 50px;
    margin-bottom: 50px;
}

.conteiner1{
    padding-left: 70px;
    padding-right: 100px;
    margin-bottom: 50px;
}

.imagens{
    width: 100px;
    height: 100px;
}